{% extends 'blog/base.html' %}

{% block content %}
<ol class="list-group">
    {% for post in page_obj %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-8">
                    <a class="btn-link text-black btn-no-underline" href="{% url 'post_detail' pk=post.pk %}">
                        {% if post.title|length > 45 %}
                            {{ post.title|slice:":45" }}...
                        {% else %}
                            {{ post.title }}
                        {% endif %}
                    </a>
                    <a class="comment-lst ml-2" href="{% url 'post_detail' pk=post.pk %}">댓글: {{ post.comments.count }}</a>
                </div>
                <div class="col-md-4 text-right">
                    <div class="post-date small text-muted" style="opacity: 0.8">게시일: {{ post.published_date }}  |   조회수: {{ post.views }}</div>
                </div>
            </div>
        </li>
    {% endfor %}
</ol>

<div class="pagination justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; 처음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% elif num > page_obj.number|add:"-5" and num < page_obj.number|add:"5" %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">끝 &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>

{% endblock %}