{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
    <div class="card border-0">
        <div class="card-header border-0 title">
            <h5>{{ post.title }}</h5>
        </div>
        <div class="card-header bg-white">
            <div class="writer float-start mt-2">
                게시자 :{{ post.author.last_name }}{{ post.author.first_name }}
            </div>
        <div class="date top-menu">
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_update' pk=post.pk %}">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">
                <i class="bi bi-trash-fill"></i>
            </a>
            {% endif %}
            {{ post.published_date }} | 조회 수: {{ post.views }}
        </div>
            
        </div>
        <div class="card-body my-5 primary">
            <div class="card-text bd-contents">{{ post.text|linebreaksbr }}</div>
        </div>
        <div class="card-footer commentstyle">
            <i class="bi bi-chat-dots-fill"></i> 댓글
        </div>

        <div class="card-footer commentstyle">
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글 달기</a>

            <div class="list-group">
                {% for comment in comments %}
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.author }}</h5>
                            <p>{{ comment.text }}</p>
                            <div class="text675rem">{{ comment.created_date }}</div>
                            {% if user.is_authenticated and user.is_superuser  %}
                            <form action="{% url 'comment_remove' comment.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="list-group-item">
                    <p>아직 등록된 댓글이 없네요 :)</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}