{% extends 'blog/base.html' %}
{% load custom_filters %}

{% block noticelist %}
    <h2 class="card-title text-center">공지사항</h2>
    {% with notice_flag=True %}
        <ol class="list-group">
            {% for post in notice_page_obj %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-8">
                            <a class="btn-link text-black btn-no-underline" href="{% url 'post_detail' pk=post.pk %}">
                                {% if post.title|length > 45 %}
                                    {{ post.title|slice:":45" }}...
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            </a>
                            <a class="comment-lst ml-2" href="{% url 'post_detail' pk=post.pk %}">댓글: {{ post.comments.count }}</a>
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="post-date small text-muted" style="opacity: 0.8">게시일: {{ post.published_date|date:"Y년 m월 d일 H:i A"|add:"-9 hours" }} | 조회수: {{ post.views }}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
        {% include 'blog/functions/pagination.html' with page_obj=notice_page_obj is_notice=notice_flag %}
    {% endwith %}
{% endblock %}

{% block postlist %}
    <h2 class="card-title text-center">게시글</h2>
    {% with notice_flag=False %}
        <ol class="list-group">
            {% for post in content_page_obj %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-8">
                            <a class="btn-link text-black btn-no-underline" href="{% url 'post_detail' pk=post.pk %}">
                                {% if post.title|length > 45 %}
                                    {{ post.title|slice:":45" }}...
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            </a>
                            <a class="comment-lst ml-2" href="{% url 'post_detail' pk=post.pk %}">댓글: {{ post.comments.count }}</a>
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="post-date small text-muted" style="opacity: 0.8">게시일: {{ post.published_date|date:"Y년 m월 d일 H:i A"|add:"-9 hours" }} | 조회수: {{ post.views }}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
        {% include 'blog/functions/pagination.html' with page_obj=content_page_obj is_notice=notice_flag %}
    {% endwith %}
{% endblock %}

{% block login %}

    {% if form.errors %}
        <p class="text-danger">이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3"> 
        <label for="{{ form.username.id_for_label }}" class="form-label">아이디</label>
        {{ form.username|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        <label for="{{ form.password.id_for_label }}" class="form-label">비밀번호</label>
        {{ form.password|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>아직 계정이 없으신가요? <a href="{% url 'account_signup' %}" class="btn btn-link">회원가입</a></p>
{% endblock %}