@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.page-header {
    border-bottom: 1px solid #e8e8e8;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    background-color: #2e4361;
}


.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}

.lg-btn-fs875 {
    font-size: 0.875rem !important;
}

p.top-menu.intro-lg {
    font-size: 1rem;
    color: white;
    margin: 0;
}

a.lg-out-btn:hover {
    color: yellow;
}

a.lg-out-btn {
    text-decoration: none;
    color: white;
    font-size: 0.825rem;
}

.container {
    margin: 100px auto 0;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    float: right;
    font-size: 1.5rem;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    border-bottom: 1px solid #e8e8e8;
}

.btn-no-underline {
    text-decoration: none !important;
}

.btn-link {
    color: black !important;
}

.btn-link:hover {
    opacity: 0.5 !important;
}



tr.boarder {
    cursor: pointer;
}

.visited-link {
    background-color: yellow;
}

.comment {
    margin: 20px 0px 20px 20px;
}